/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    grid-area: header;
    height: 70px;
    background: #7377BF;
}

header h1 {
    font-size: 1.5em;
    align-self: center;
    margin-right: auto;
    margin-left: 15px;
    color: white;
}

nav {
    grid-area: nav;
    justify-content: center;
    padding: 5px;
    background: #4D4C72;
}

h3 {
    color: #919191;
    font-size: .8em;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 20px
}

.bell-graphic {
    display: block;
    width: 1.5em;
    align-self: center;
    margin-right: 15px;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-self: center;
    margin-left: 10px;
    margin-right: 5px;
}

#username-text {
    font-size: 1em;
    align-self: center;
    margin-right: 15px;
    margin-left: 5px;
    color: white;
}

.nav-icons {
    width: 30px;
    height: 30px;
}

.alert {
    background: #7377BF;
    width: 93vw;
    margin: 20px auto;
}

.alert-banner {
    margin-left: 10px;
}

.alert-banner-close {
    margin-left: auto;
    margin-right: 15px;
}

#alert {
    color: white;
    font-size: .8em;
}

.headline {
    margin-right: auto;
}

.traffic {
    width: 93vw;
    margin: 0 auto;
}

.traffic-header > h3 {
    margin-right: auto;
}

.traffic-header > ul {
    display: flex;
    flex-direction: row;
    
}

.traffic-nav {
    list-style: none;
}

.traffic-nav-link {
    font-family: 'Merriweather Sans', sans-serif;
    color: #919191;
    font-size: .7em;
    margin-left: 20px;    
}

#traffic-chart {
    margin-top: 15px;
}

.social-image {
    background: #7377BF;
    border-radius: 50%;
    display: flex;
    width: 35px;
    height: 35px;
    align-self: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.social-icons {
    margin: auto;
    width: 18px;
    height: 18px;
    display: block;
}

.members-text > a {
    text-decoration: none;
    color: #7377BF;

}

#social-headline {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 900;
    font-size: .5em;
    color: #7377BF;
    padding-top: 15px;
    padding-bottom: 0;
}

.social-text > p {
    margin: 0 auto;
    font-size: 1.4em;
    color: #585858;
    padding-bottom: 15px;
}

/* ============================================= */
/*              Layout styles                    */
/* ============================================= */

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "nav"
        "main";
}

.daily,
.mobile-users,
.social-stats,
.members,
.recent-activity,
.message,
.settings {
    border: 1px solid #D5D5D5;
}

nav > a {
    margin: 15px;
}

main {
    grid-area: main;
    display: grid;
}

.main-header {
    flex-direction: row;
    width: 93vw;
    margin: 10px auto;
    align-items: center;
}

.social-stats {
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-between;
    padding-bottom: 25px;
}

.social-stats > h3 {
    flex-grow: 1;
    flex-basis: 100%;
}

.social-container {
    flex-direction: row;
    flex-wrap: wrap;
    background: #F7F7F7;
    border: .5px solid #B8B8B8;
    height: 55px;
    width: 30%;
    margin: 0 auto;
    align-content: center;
}


.widget-container-full,
.widget-container-half {
    width: 95vw;
}

#traffic-chart,
#daily-chart,
#mobile-chart {
    margin-bottom: 30px;
}

/* ============================================= */
/*              Flexbox Containers               */
/* ============================================= */

header,
nav,
.main-header,
.bell-div,
.alert-banner,
.traffic-header,
.social-stats,
.social-container {
    display: flex;
}

/* ============================================= */
/*              Media queries                    */
/* ============================================= */

@media(min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
            "header header"
            "nav main";
    }

    main {
        grid-template-columns: 50%;
    }

    .traffic,
    .social {
        grid-column: 1 / span 2;
    }

    .daily,
    .members,
    .message {
        grid-column: 1 / span 1;
    }

    .mobile,
    .activity,
    .settings {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }
}