/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    grid-area: header;
    height: 70px;
    width: 100%;
    background: #7377BF;
}

header h1 {
    font-weight: 300;
    font-size: 1.5em;
    align-self: center;
    margin-right: auto;
    margin-left: 25px;
    color: white;
}

nav {
    grid-area: nav;
    justify-content: center;
    padding: 5px;
    background: #4D4C72;
    width: 100%;
}

h3 {
    color: #919191;
    font-size: .8em;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 20px
}

input,
textarea {
    text-indent: 10px;
}

.bell-graphic {
    display: block;
    width: 1.5em;
    align-self: center;
    margin-right: 15px;
    transition: transform .4s ease-out;
}

.bell-graphic:hover {
    transform: scale(1.3);
}

.dropbtn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content { 
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    top: 45px;
    right: -25px;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(163, 145, 145);
}

.show {
    display:block;
}

.close {
    float: right;
    display: inline-block;
    padding: 2px 5px;
}

#notifications-container p {
    display: inline-block;
}
#green-badge {
    position: absolute;
    height: 10px;
    width: 10px;
    background: #64F455;
    border-radius: 50%;
    top: 7px;
    right: 7px;
}

.bell-div {
    border-right: 1px solid #5C5C5C;
    height: 60%;
    margin-top: 15px;
    position: relative;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-self: center;
    margin-left: 10px;
    margin-right: 5px;
}

#username-text {
    font-size: 1em;
    align-self: center;
    margin-right: 25px;
    margin-left: 5px;
    color: white;
    font-weight: 300;
}

.nav-icons {
    width: 30px;
    height: 30px;
}

.alert {
    background: #7377BF;
    border-radius: 5px;
    width: 90vw;
    margin: 20px auto;
}

.alert-banner {
    margin-left: 10px;
}

.alert-banner-close {
    margin-left: auto;
    margin-right: 15px;
}

#alert {
    color: white;
    font-size: .8em;
}

.headline {
    margin-right: auto;
    padding-left: 2em;
    font-weight: 300;
    font-size: 1em;
    color: #919191;
    flex-grow: 1;
}

.traffic,
.widget-container-half,
.social-stats {
    width: 90%;
    margin: 0 auto;
}

.traffic-header {
    width: 95%;
}

.traffic-header > h3 {
    margin-right: auto;
    margin-left: 0;
}

.traffic-header > ul {
    display: flex;
    flex-direction: row;
    
}

.traffic-nav {
    list-style: none;
}

.traffic-nav-link {
    font-family: 'Merriweather Sans', sans-serif;
    color: #919191;
    font-size: .7em;
    margin-left: 20px;    
}

#traffic-chart {
    margin-top: 15px;
}

.daily > h3,
.mobile-users > h3,
.members > h3,
.recent-activity > h3,
.message > h3,
.settings > h3 {
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-image {
    background: #7377BF;
    border-radius: 50%;
    display: flex;
    width: 35px;
    height: 35px;
    align-self: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.social-icons {
    margin: auto;
    width: 18px;
    height: 18px;
    display: block;
}

.members-text > a {
    text-decoration: none;
    color: #7377BF;
    font-size: .8em;

}

#social-headline-twitter,
#social-headline-fb,
#social-headline-google {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 900;
    font-size: .9em;
    color: #7377BF;
    padding-top: 15px;
    padding-bottom: 0;
}

.social-text > p {
    margin: 0 auto;
    font-size: 1.8em;
    color: #585858;
    padding-bottom: 15px;
    padding-right: 20px;
    font-weight: 300;
}

.members-container {
    margin: 10px auto 0 auto;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #D5D5D5;;
}

.members-container:last-child {
    border: none;
}

.profile-image {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-left: 25px;
}

.members-text,
.members-container > p {
    color: #585858;
    font-size: .8em;
    margin-right: 20px;
}

.members-text {
    flex-direction: column;
    justify-content: center;
    max-width: 70%;
}

.members-text p,
.members-text a {
    margin-left: 10px;
}

.members-text p {
    margin-top: 0;
}

.members-text {
    margin-right: auto;
}

.recent-activity h3 {
    margin-bottom: 20px;
}

.recent-activity .members-container {
    padding-bottom: 15px;
}

.members-text p:last-child {
    font-size: .8em;
    margin-bottom: 0;
} 

/* #greater-than-symbol */
.recent-activity .members-container p:nth-child(3) {
    font-size: 1.5em;
}

/* ============================================= */
/*              Layout styles                    */
/* ============================================= */

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "nav"
        "main";
}

.daily,
.mobile-users,
.members,
.recent-activity,
.message,
.settings {
    border: 1px solid #D5D5D5;
}

nav > a {
    margin: 15px;
}

main {
    grid-area: main;
    display: grid;
}

.main-header {
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.main-header-search {
    border: 1px solid #D5D5D5;
    width: 75%;
    height: 66px;
    background: #F7F7F7;

    flex: 7;
}

input[type="search"] {
    border-radius: 5px;
    border: 1px solid #D5D5D5;
    width: 60%;
}

.main-header-search > input {
    margin-left: auto;
    margin-right: 10px;
    align-self: center;
}

.social-stats {
    /* flex-wrap: wrap; */
    margin-bottom: 20px;
    padding-bottom: 25px;
    /* flex-direction: row; */
}

.social-stats-wrapper {
    flex-grow: 1;
}

.social-stats > h3 {
    flex-grow: 1;
    flex-basis: 100%;
    margin-left: 0;
}

.social-container {
    flex-direction: row;
    background: #F7F7F7;
    border: .5px solid #B8B8B8;
    border-radius: 5px;
    flex-basis: 29%;
    flex-grow: 1;
    margin-right: 10px;
    justify-content: center;
}

/* .social-container:nth-child(2),
.social-container:nth-child(3) {
    margin-right: 20px;
} */

.social-container:last-child {
    margin-right: 0;
}

#traffic-chart,
#daily-chart,
#mobile-chart {
    margin-bottom: 30px;
}

.message {
    flex-direction: column;
    width: 100%;
}

.widget-container {
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
}

.widget-container input,
.widget-container textarea,
#timezone {
    margin-bottom: 10px;
    background: #F7F7F7;
    border: 1px solid #B8B8B8;
}

.widget-container input {
    height: 40px;
}

.widget-container textarea {
    height: 120px;
}

#send {
    background: #7377BF;
    color: white;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    height: 40px;
    font-size: .7em;
}

::placeholder {
    font-size: .8em;
    color: #C6C6C6;
}

.settings {
    flex-direction: column;
    width: 100%;
}

.settings-div {
    flex-wrap: wrap;
    width: 90vw;
    margin: 0 auto;
    font-size: .8em;
    color: #919191;
}

.settings-div > p {
    flex: 1;
    flex-basis: 55%;
}

#userField,
#messageField {
    border-radius: 5px;
}

#timezone {
    width: 100%;
    height: 40px;
    font-size: .8em;
    color: #C6C6C6;
    border-radius: 5px;
}

#save,
#cancel {
    width: 43vw;
    height: 40px;
    color: white;
    border: none;
    font-size: .8em;
    margin-bottom: 40px;
    border-radius: 5px;
}

#cancel {
    background: #8B8B8B;
}

#save {
    margin-right: 20px;
    background: #7377BF;
}


/* ============================================= */
/*              Flexbox Containers               */
/* ============================================= */

header,
nav,
.main-header,
.bell-div,
.alert-banner,
.main-header-search,
.traffic-header,
.social-stats-wrapper,
/* .social-stats, */
.social-container,
.members-container,
.members-text,
.message,
.widget-container,
.settings,
.settings-div,
.settings-button {
    display: flex;
}

/* ============================================= */
/*              Media queries                    */
/* ============================================= */

@media(min-width: 768px) {
    
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
            "header header"
            "nav main";
    }

    main {
        grid-template-columns: 50%;
    }

    .traffic,
    .social {
        grid-column: 1 / span 2;
    }

    .daily,
    .members,
    .message {
        grid-column: 1 / span 1;
    }

    .mobile,
    .activity,
    .settings {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }

    /* header {
        width: 100%;
    } */

    nav {
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
    }
   
    nav a {
        margin: 15px auto;
    }

    main {
        display: flex;
        flex-wrap: wrap;
    }

    .main-header {
        width: 100%;
    }

    .main-header-search {
        height: 80px;
    }

    .headline {
        margin-left: 40px;
    }

    .daily,
    .mobile-users {
        width: 50%;
    }

    .social-container {
        width: 20px;
    }

    .recent-activity,
    .members {
        width: 50%;
    }
}